// PRIMARY COLORS
$white: #fff;
$light-coral: #f67e7e;
$midnight-green: #014e56;
// SECONDARY COLORS
$black: #002529;
$sacramento: #012f34;
$jungle-green: #004047;
$police-blue: #2c6269;
$rapture-blue: #79c8c7;